.message {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.message.error {
    color: #e7e9ea;
    background-color: red;
    background-color: rgb(180, 21, 21);
}

.message.success {
    color: #e7e9ea;
    background-color: rgb(11, 235, 11);
    background-color: green;
}